@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

.hover-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.hover-scrollbar:hover {
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.hover-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.hover-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.hover-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

.hover-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

.dark .hover-scrollbar:hover {
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

.dark .hover-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}

.dark {
  color-scheme: dark;
}

.dark body {
  background-color: #18191a;
}
